<dialog id="register-modal" class="modal">
  <div class="modal__content">
    <h1>Novo Usuário</h1>

    <form action="/register" method="post" class="user__form-form">
      <div class="user__form-row">
        <label for="name">Nome completo</label>
        <input type="text" name="name" id="name" placeholder="Seu nome completo" required>
      </div>

      <div class="user__form-row">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="seu@email.com" required>
      </div>

      <div class="user__form-row">
        <label for="age">Idade</label>
        <input type="number" name="age" id="age" placeholder="Sua idade"  required>
      </div>

      <div class="user__form-row">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="••••••••" minlength="4" required>
      </div>

      <input class="button-secondary" type="submit" value="Cadastrar como aluno">
    </form>

    <span class="user__form-span">Já tem uma conta? <a href="/login">Entrar</a></span>
  </div>
</dialog>