<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConectaELLP - Not Found</title>

  <link rel="shortcut icon" type="image" href="/images/logo.svg">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/global.css' />
</head>

<body>
  <main class="not-found__main">
    <h1>
      <%= error %>
    </h1>
    <h2>
      <%= title %>
    </h2>
    <p>
      <%= description %>
    </p>

    <a class="button-quaternary" href="/">Voltar para página inicial</a>
  </main>

  <footer>
    <p>© 2025 ConectaELLP - Projeto Back-End</p>
    <span>Análise e Desenvolvimento de Sistemas</span>
  </footer>
</body>

</html>