<%- include('partials/header') %>

<main class="default__screen workshops__screen">
  <div class="default__screen-title workshops__screen-title">
    <h1>Oficinas Disponíveis</h1>

    <button class="button-primary">+ Nova Oficina</button>
  </div>

  <div class="workshop__cards-container">
    <article class="workshop__card">
      <header class="workshop__card-header">
        <h3>Introdução à Lógica</h3>
        <span>ativo</span>
      </header>

      <p class="workshop__card-description">Conceitos básicos de lógica de programação através de jogos e atividades lúdicas.</p>

      <div class="workshop__card-info">
        <div class="workshop__card-info-row">
          <span>Data de início:</span>
          <p>14/02/2024 - 14:00</p>
        </div>

        <div class="workshop__card-info-row">
          <span>Vagas:</span>
          <p>9/20</p>
        </div>

        <button class="button-quaternary">Gerenciar</button>
      </div>

    </article>

    <article class="workshop__card">
      <header class="workshop__card-header">
        <h3>Introdução à Lógica</h3>
        <span>ativo</span>
      </header>

      <p class="workshop__card-description">Conceitos básicos de lógica de programação através de jogos e atividades lúdicas.</p>

      <div class="workshop__card-info">
        <div class="workshop__card-info-row">
          <span>Data de início:</span>
          <p>14/02/2024 - 14:00</p>
        </div>

        <div class="workshop__card-info-row">
          <span>Vagas:</span>
          <p>9/20</p>
        </div>

        <button class="button-quaternary">Gerenciar</button>
      </div>

    </article>

        <article class="workshop__card">
      <header class="workshop__card-header">
        <h3>Introdução à Lógica</h3>
        <span>ativo</span>
      </header>

      <p class="workshop__card-description">Conceitos básicos de lógica de programação através de jogos e atividades lúdicas.</p>

      <div class="workshop__card-info">
        <div class="workshop__card-info-row">
          <span>Data de início:</span>
          <p>14/02/2024 - 14:00</p>
        </div>

        <div class="workshop__card-info-row">
          <span>Vagas:</span>
          <p>9/20</p>
        </div>

        <button class="button-quaternary">Gerenciar</button>
      </div>

    </article>

        <article class="workshop__card">
      <header class="workshop__card-header">
        <h3>Introdução à Lógica</h3>
        <span>ativo</span>
      </header>

      <p class="workshop__card-description">Conceitos básicos de lógica de programação através de jogos e atividades lúdicas.</p>

      <div class="workshop__card-info">
        <div class="workshop__card-info-row">
          <span>Data de início:</span>
          <p>14/02/2024 - 14:00</p>
        </div>

        <div class="workshop__card-info-row">
          <span>Vagas:</span>
          <p>9/20</p>
        </div>

        <button class="button-quaternary">Gerenciar</button>
      </div>

    </article>
  </div>

</main>

<%- include('partials/footer') %>