<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ConectaELLP - Cadastro</title>

  <link rel="shortcut icon" type="image" href="/images/logo.svg">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/global.css' />
</head>

<body>
  <main class="user__main">
    <section class="user__form">
      <header class="user__form-header">
        <img src="../images/logo.svg" alt="Logo">
        <h1>ConectaELLP</h1>
        <p>Plataforma de Ensino Lúdico</p>
      </header>

      <form action="/auth/register" method="post" class="user__form-form">
        <div class="user__form-row">
          <label for="name">Nome completo</label>
          <input type="text" name="name" id="name" placeholder="Seu nome completo" required>
        </div>

        <div class="user__form-row">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="seu@email.com" required>
        </div>

        <div class="user__form-row">
          <label for="age">Idade</label>
          <input type="number" name="age" id="age" placeholder="Sua idade"  required>
        </div>

        <div class="user__form-row">
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="••••••••" minlength="4" required>
        </div>

        <input class="button-secondary" type="submit" value="Cadastrar como aluno">
      </form>

      <span class="user__form-span">Já tem uma conta? <a href="/auth/login">Entrar</a></span>
    </section>
  </main>
</body>

</html>