
/* Ja arrumei: */
body {
  background: linear-gradient(90deg, #1E293B, #0F172A);

  width: 100%;
  max-width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

body:has(.header) {
  background: #0F172A;
}

.user__main {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.user__form {
  background: #1E293B;

  width: 100%;
  max-width: 28rem;

  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #334155;

  box-shadow: 0 25px 50px 12px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.user__form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  text-align: center;
}

.user__form-header img {
  height: 4rem;
  width: auto;
}

.user__form-header h1 {
  font-size: 1.875rem;
  color: white;
}

.user__form-header p {
  font-size: 1rem;
  color: #94A3B8;
}

.user__form-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user__form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user__form-row label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  color: #CBD5E1;
}

.user__form-row input {
  background: #334155;
  color: #e5e7eb;

  border-radius: 8px;
  border: 1px solid #475569;

  padding: 0.625rem 0.75rem;

  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #e5e7eb;

  box-shadow: 0 0 0px 1000px #1e1e1e inset;

  transition: background-color 5000s ease-in-out 0s;
}

.user__form-row input:focus {
  outline: 2px solid #2563EB;
}

::placeholder {
  color: #b5b5b5;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.user__form-span {
  text-align: center;

  font-size: 0.875rem;
  color: #9ca3af;
}

.user__form-span a {
  color: #3b82f6;
}

.user__form-span a:hover {
  text-decoration: underline;
}

.button-primary,
.button-secondary, 
.button-tertiary,
.button-quaternary {
  border: none;
  padding: 0.75rem;
  border-radius: 8px;

  font-size: 1rem;
  font-weight: 500;
  text-align: center;

  cursor: pointer;

  color: white;
  opacity: 1;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button-quaternary {
  width: 100%;

  font-weight: 600;

  background: #8024D1;
}

.button-tertiary {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;

  background: #DC2626;
}

.button-secondary {
  background: #16A34A;
}

.button-primary {
  background: #2563EB;
}

.button-primary:hover, .button-secondary:hover, .button-tertiary:hover, .button-quaternary:hover {
  opacity: 0.9;
}

.header {
  background: #1E293B;
  padding: 0 1.5rem;

  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;

  border-bottom: 1px solid #475569;

  position: sticky;
  top: 0;
  left: 0;

  z-index: 100;
}

.header .header__container-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .header__container-left img {
  height: 2.625rem;
  width: auto;
}

.header .header__container-left-text {
  display: flex;
  flex-direction: column;
}

.header .header__container-left-text p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFF;
}

.header .header__container-left-text span {
  font-size: 0.875rem;
  font-weight: 400;
  color: #94A3B8;
}

.header .header__container-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.header .header__container-right span {
  font-size: 1rem;
  font-weight: 500;
  color: #94A3B8;
}

.nav__container {
  background: #1E293B;
  padding: 0 2rem;

  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #475569;

  position: sticky;
  top: 5rem;
  left: 0;

  z-index: 100;
}

.nav__list {
  width: 100%;
  height: 100%;
  padding: 0;

  display: flex;
  gap: 2rem;
}

.nav__item {
  height: calc(100% - 2px);
  padding: 0 1rem;

  display: flex;
  align-items: center;

  transition: all 0.3s ease;
}

.nav__item a {
  display: flex;
  align-items: center;

  height: 100%;

  font-size: 0.875rem;
  font-weight: 500;
  color: #FFF;
}

.nav__item:hover, .nav__item.active {
  box-shadow: 0 2px 0 0 #2563EB;
}

.default__screen {
  flex: 1;
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #1E293B transparent;
}

.workshops-screen::-webkit-scrollbar {
  width: 4px;
}

.workshops-screen::-webkit-scrollbar-track {
  background: transparent;
}

.workshops-screen::-webkit-scrollbar-thumb {
  background-color: #1E293B;
  border-radius: 20px;
  border: 1px solid transparent;
}

.default__screen-title {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  flex-wrap: wrap;
}

.default__screen-title h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFF;
}

.workshop__cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: stretch;
  gap: 2rem;
}

.workshop__card {
  flex: 1;

  min-width: 320px;
  max-width: 420px;
  padding: 1.5rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background: #1E293B;
  border: 1px solid #475569;
}

.workshop__card .workshop__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  flex-wrap: wrap;
}

.workshop__card .workshop__card-header h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #FFF;
}

.workshop__card .workshop__card-header span {
  padding: 4px 8px;
  background: #16A34A;
  border-radius: 12px;
  
  font-size: 0.75rem;
  font-weight: 400;
  font-size: #FFF;
}

.workshop__card-description {
  font-size: 1rem;
  font-weight: 400;
  color: #94A3B8;
}

.workshop__card .workshop__card-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.workshop__card .workshop__card-info .workshop__card-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.workshop__card .workshop__card-info .workshop__card-info-row span {
  font-size: 0.875rem;
  font-weight: 400;
  color: #94A3B8;
}

.workshop__card .workshop__card-info .workshop__card-info-row p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #FFF;
}

.table-container {
  background-color: #1E293B; 
  border-radius: 8px;
  overflow: hidden; 
}

.user-table {
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse; 
  border: 1px solid #475569;
}

.user-table th,
.user-table td {
  text-align: left;
}

.user-table th:not(:last-child) {
  border-right: 1px solid #1E293B;
}

.user-table td {
  color: #FFF;
  padding: 0 1.5rem;
}

.user-table thead th {
  font-weight: 600;
  font-size: 0.875rem;
  color: #CBD5E1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 1rem 1.5rem;
}

.user-table tbody tr {
  height: 3.25rem;
}

.user-table tr:not(:last-child) {
  border-bottom: 1px solid #475569;
}

.user-table thead tr {
  background: #334155;
}

.badge {
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  text-transform: capitalize;
}

.badge--type {
  background-color: #2563eb;
  color: #ffffff;
}

.badge--active {
  background-color: #16A34A; 
  color: #ffffff;
}

.badge--inactive {
  background-color: #ef4444; 
  color: #ffffff;
}

.actions-cell {
  height: 100%;
  display: flex;
  gap: 0.5rem;
}

.action-link {
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem;
  transition: opacity 0.2s ease;

  padding: 0.5rem;
}

.action-link:hover {
  opacity: 0.8;
}

.action-link--edit {
  color: #2563EB;
}

.action-link--status {
  color: #FACC15;
}

.user__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.user__modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal {
  z-index: 1000;
  margin: 0;

  width: min(28rem, 80%);
  background: #1E293B;

  border-radius: 1rem;
  border: 1px solid #334155;

  box-shadow: 0 25px 50px 12px rgba(0, 0, 0, 0.25);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__content {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.modal::backdrop {
  background: rgba(0, 0, 0, .7);
}

/* Ja arrumei ^ */
footer {
  background: #1E293B;
  padding: 1rem;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.3rem;

  border-top: 1px solid #e5e7eb1d;

  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

footer p {
  font-size: 1rem;
  color: #9ca3af;
}

footer span {
  font-size: 0.875rem;
  color: #9ca3af;
}

.not-found__main {
  flex: 1;
  padding: 1rem;
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found__main h1 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

.not-found__main h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #9ca3af;
}

.not-found__main p {
  font-size: 1rem;
  text-align: center;
  color: #9ca3af;
}

@media (max-width: 767px) , (max-height: 767px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  :root {
    font-size: 10px;
  }
}
